
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
    }

    html{
        font-size: 62.5%;
        overflow-x: hidden;
        
    }
  body {
    overflow: hidden;
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid;
    background-color: #1F2127;
}

.logo{
    width:40%; 
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px white);
}


.logo img {
    margin-left: 5rem;
    width: 20%;
    height: 50%;
    padding: 1.2rem;
}

.links {
    text-align: center;
    font-size: 2rem;
    
    
}

.links a {
    margin-right: 20px ; 
    color: white;
    font-family: 'Ranade', sans-serif;
    
}

.links a:hover {
transform: scale(1.1);
border-bottom: 2px solid #fdbc30;

}
.navbar {
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: 5rem;
    
}

.navbar a{
    color: white;
    font-family: 'Ranade', sans-serif;
    padding:1rem ;
    border: 1px solid white;
   transition: 0.5s ease;
}

.navbar .expense{
    background-color:  #fdbc30;
    color: black;
    
}


.navbar .expense:hover{
    background-color:  #1F2127;
    color: white;
    border: 1.2px solid #fdbc30;

}

.navbar .income{
    background-color: #42C2CF;
    color: black;
}
    
.navbar .income:hover{
    background-color:#1F2127;
    color: white;
    border: 1.2px solid  #42C2CF ;
}

  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
  }
  
  .section {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 45%;
  }
  
  .section h2 {
    position: relative;
    margin-bottom: 15px;
    left: 43%;
    font-size: 2rem;
  }
  
  .section p {
    margin-bottom: 5px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .section a {
    
    text-decoration: none;
    color: #000;
    border: 1.5px solid black;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 800    ;
    
  }
  