

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
    }  

    html{
        font-size: 62.5%;
    }

 
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid;
    background-color: #1F2127;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid;
    background-color: #1F2127;
}

.logo{
    width:40%; 
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 25px white);
}


.logo img {
    margin-left: 5rem;
    width: 20%;
    height: 50%;
    padding: 1.2rem;
}

.links {
    text-align: center;
    font-size: 2rem;
    
    
}

.links a {
    margin-right: 20px ; 
    color: white;
    font-family: 'Ranade', sans-serif;
    
}

.links a:hover {
transform: scale(1.1);
border-bottom: 2px solid #fdbc30;

}
.navbar {
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: 5rem;
    
}

.navbar a{
    color: white;
    font-family: 'Ranade', sans-serif;
    padding:1rem ;
    border: 1px solid white;
   transition: 0.5s ease;
}

.navbar .expense{
    background-color:  #fdbc30;
    color: black;
    
}


.navbar .expense:hover{
    background-color:  #1F2127;
    color: white;
    border: 1.2px solid #fdbc30;

}

.navbar .income{
    background-color: #42C2CF;
    color: black;
}
    
.navbar .income:hover{
    background-color:#1F2127;
    color: white;
    border: 1.2px solid  #42C2CF ;
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: left;
    font-family:'Excon', sans-serif;
    font-size: 1.6rem;
}

.table th {
    background-color:  #fdbc30;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #e9e9e9;
}

.heading{
    position: relative;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    font-family:'Ranade', sans-serif;
    left: 40%;
}


.edit-btn{
    padding: 0.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(98, 225, 98);
    border: solid #1F2127 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.5s ease;
    
}


.edit-btn:hover{
    transform: scale(1.1);
    background-color: white;
    
}

.delete-btn{
    padding: 0.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: rgb(198, 80, 80);
    border: solid #1F2127 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    transition: 0.5s ease;
}

.delete-btn:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
    
}


tr .buttons{
    display: flex;
    justify-content: space-evenly;
}

tr .actions{
    width: 20rem;
}